.container{

    .text-content{
        position: absolute;
        left: 10%;
        top: 60%;
        max-width: 40%;

    }


    h1{
        font-size: 60px;
        left : 10%;
        animation: fadeIn 1s 0.8s backwards;
    }

    h2{
        p{
            font-size: 15px;
            margin-top: 2%;
            animation: fadeIn 1s 2.2s backwards;
            letter-spacing: 3px;
        }
        
    }

    

}

